name: CLA Assistant

on:
  issue_comment:
    types: [created]
  pull_request_target:
    types: [opened, closed, synchronize]

permissions:
  actions: write
  contents: read
  pull-requests: write
  statuses: write

jobs:
  cla:
    runs-on: ubuntu-latest
    if: |
      (github.event_name == 'pull_request_target') ||
      (github.event_name == 'issue_comment' && github.event.comment.body == 'recheck')
    steps:
      - name: CLA Assistant
        uses: cla-assistant/github-action@v2.4.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PERSONAL_ACCESS_TOKEN: ${{ secrets.CLA_ASSISTANT_PAT }}
        with:
          path-to-document: 'https://github.com/linkforty/core/blob/main/CLA.md'
          path-to-cla-assistants: 'https://cla-assistant.io/'
          allowlist: 'bot*,dependabot*,github-actions*'
